model/model.h5
Chart1.crtx
about.txt
static/img/logo-name.png
static/img/logo1.png
static/img/logo2.png
static/img/logo5.png
static/img/logoBlack.png
static/img/logoPink.png
static/img/logo6.png
static/img/logoBlackPink.png
